:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem auto;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000e1b;
}

#game {
  border-radius: 4px;
  outline: 5px solid #ffffe6 !important;
}
